<div id="<%= dom_id additional_service %>">
  <p>
    <strong>Service name:</strong>
    <%= additional_service.service_name %>
  </p>

  <p>
    <strong>Service value:</strong>
    <%= additional_service.service_value %>
  </p>

</div>
